/* main styles */
* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
    color: #4e4d4d;
    font-size: 13px;
    line-height: 24px;
}
body {
    background-image: url('../Untitled-1.jpg');
    background-position: top;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    /* text-decoration: underline; */
}
.btn {
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    display: block;

    background-color: #f25a29;
    border-radius: 18px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    padding: 13px 37px;
    transition: .3s;
}
.btn--inline {
    display: inline-block;
}
.btn:hover {
    background-color: #c54a21;
    /* text-decoration: none !important; */
}

/* header */
.header {
    background-image: url('../img/bg--header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    min-height: 620px;
    display: flex;
}
.header .container {
    display: flex;
    flex-direction: column;
}
.header__headline {
    display: flex;
    justify-content: space-between;
    padding: 43px 0;
    padding-right: 180px;
}
.logo {
    padding-top: 10px;
}
.logo__link {
    display: block;
}
.logo__img {
    display: block;
    width: 118px;
    height: 11px;
}
.nav {

}
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav__item {
    /* margin: 0 17px; */
}
.nav__link {
    font-size: 11px;
    font-weight: 600;
    line-height: 1;
    color: #716f6f;
    text-decoration: none;
    letter-spacing: -0.01em;
    position: relative;
    padding: 17px;
}
.nav__link:after {
    position: absolute;
    bottom: 9px;
    left: 17px;
    width: calc(100% - 17px * 2);
    height: 2px;
    background-color: #f25a29;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}
.nav__link--active, .nav__link:hover {
    color: #f25a29;
}
.nav__link--active:after, .nav__link:hover:after {
    opacity: 1;
    transform: translateY(0);
}
.header__text {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 127px;
    letter-spacing: -0.03em;
}
.header__title {
    color: #3d3d3d;
    font-family: MuseoSans;
    font-size: 37px;
    line-height: 47px;
    padding-bottom: 20px;
    letter-spacing: -0.03em;
}

.work {
    min-height: 510px;
    display: flex;
    padding: 84px 0px;
    box-sizing: border-box;
    background-color: white;
}
h1 {
    font-family: MuseoSans;
    font-size: 35px;
    line-height: 45px;
    color: #3d3d3d;
    font-weight: 400;
    letter-spacing: -0.02em;
}
h1 span {
    color: #f25a29;
}
h2 {
    color: #3d3d3d;
    font-family: MuseoSans;
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: -0.01em;
}
.work__header {
    text-align: center;
}
.work__header + .work__items {
    padding-top: 83px;
}
.work__item {
    display: flex;
    align-items: flex-start;
}
.work__icon {
    width: 69px;
    height: 69px;
    border: 1px solid #f25a29;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
    border-radius: 50%;
}
.work__text {
    padding-left: 11px;
    padding-right: 5px;
    color: #3d3d3d;
    font-family: MuseoSans;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: -0.03em;
}
.work__text h2 {
    margin: 4px 0;
}
.work__text p {
    margin: 15px 0;
}
.quality {
    padding: 128px 0;
    background-color: #f7f8fa;
}
.quality__text {
    
}
.quality__text h1 {
    margin-top: 7px;
    margin-bottom: 33px;
}
.quality__link {
    color: #4e4d4d;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-top: 11px;
    transition: ease .3s color;
}
.quality__link:hover {
    /* text-decoration: underline; */
    color: #f25a29;
}
.testimonials {
    text-align: center;
    padding: 86px 0 53px;
    background-color: white;
}
.testimonials h1 {
    margin-bottom: 18px;
}
.review {
    border: 1px solid rgba(0,0,0,.12);
    padding: 29px 24px;
}
.review__brand {
    width: 142px;
    height: 36px;
    margin: 0 auto;
    overflow: hidden;
}
.review__brand img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}
.review__text {
    opacity: 0.6;
    color: #3d3d3d;
    font-family: MuseoSans;
    font-size: 13px;
    font-style: italic;
    line-height: 19px;
    padding-top: 30px;
}
.review__name {
    color: #3d3d3d;
    font-family: Scriptina;
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    padding-top: 8px;
}
.review__position {
    color: #f25a29;
    font-family: MuseoSans;
    font-size: 11px;
    line-height: 19px;
    padding-top: 17px;
}
.slider-wrap {
    width: 100% !important;
    max-width: 100% !important;
    /* overflow: hidden; */
    min-height: 250px;
    padding: 39px 21px 0;
}
.slider {
    max-width: 100%;
    width: 100%;
}
.slide {
    padding: 0 21px;
    outline: none;
}
.slick-arrow {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: auto;
    height: auto;
    color: #8493a8;
}
.slick-arrow:before {
    font-family: inherit;
    font-size: 50px;
    color: #8493a8;
}
.slick-next {
    right: -55px;
}
.slick-next:before {
    content: "\f105";
}
.slick-prev {
    left: -62px;
}
.slick-prev:before {
    content: "\f104";
}
.slick-dots {
    bottom: -55px;
}
.slick-dots li {
    margin: 0 1px;
    width: auto;
    height: auto;
}
.slick-dots li button {
    width: 11px;
    height: 11px;
    background-color: #dbdbdb;
    /* background-color: #3f3f3f; */
    padding: 0;
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    background-color: #8c8c8c;
}
.slick-dots li button:before {
    display: none;
}

.career {
    padding: 93px 0;
    min-height: 690px;
    background-image: url('../img/bg--designing.jpg');
    background-position: center;
    background-size: cover;
}
.career h1 {
    margin-bottom: 33px;
}
.career__link {
    color: #4e4d4d;
    /* font-family: OpenSans; */
    font-size: 13px;
    line-height: 1.8;
    font-weight: 700;
    text-decoration: none;
    margin: 12px 0;
    display: inline-block;
    transition: ease .3s color;
}
.career__link:hover {
    /* text-decoration: underline; */
    color: #f25a29;
}
.footer {
    background-color: #f25a29;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 43px 0;
}
.footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
}
.social__item {
    display: inline-block;
}
.social__item + .social__item {
    margin-left: 11px;
}
.social__link {
    color: white;
    text-decoration: none;
}
.social__link:hover {
    opacity: .8;
}