extends ./layout.pug
block title
    title Adaptive Navigation
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
block main
    .container
        nav.nav.js-nav
            button.nav__burger.js-burger
                span
                span
                span
            ul.nav__list
                li.nav__item
                    a.nav__link(href="#") Lorem.
                    ul.nav__sublist
                        li.nav__subitem
                            a.nav__link(href="#") Lorem.
                        li.nav__subitem
                            a.nav__link(href="#") Deleniti.
                        li.nav__subitem
                            a.nav__link(href="#") Ab.
                        li.nav__subitem
                            a.nav__link(href="#") Nam!
                        li.nav__subitem
                            a.nav__link(href="#") Molestiae?
                        li.nav__subitem
                            a.nav__link(href="#") Illo.
                        li.nav__subitem
                            a.nav__link(href="#") Est?
                        li.nav__subitem
                            a.nav__link(href="#") Illum.
                        li.nav__subitem
                            a.nav__link(href="#") Odio.
                        li.nav__subitem
                            a.nav__link(href="#") Nulla.
                        li.nav__subitem
                            a.nav__link(href="#") Lorem.
                        li.nav__subitem
                            a.nav__link(href="#") Deleniti.
                        li.nav__subitem
                            a.nav__link(href="#") Ab.
                li.nav__item
                    a.nav__link(href="#") Deleniti.
                li.nav__item
                    a.nav__link(href="#") Ab.
                    ul.nav__sublist
                        li.nav__subitem
                            a.nav__link(href="#") Lorem.
                        li.nav__subitem
                            a.nav__link(href="#") Deleniti.
                            ul.nav__subsublist
                                li.nav__subsubitem
                                    a.nav__link(href="#") Lorem.
                                li.nav__subsubitem
                                    a.nav__link(href="#") Deleniti.
                                li.nav__subsubitem
                                    a.nav__link(href="#") Ab.
                                li.nav__subsubitem
                                    a.nav__link(href="#") Ab.
                li.nav__item
                    a.nav__link(href="#") Nam!
                li.nav__item
                    a.nav__link(href="#") Molestiae?
                li.nav__item
                    a.nav__link(href="#") Illo.
                li.nav__item
                    a.nav__link(href="#") Est?
                    ul.nav__sublist
                        li.nav__subitem
                            a.nav__link(href="#") Lorem.
                li.nav__item
                    a.nav__link(href="#") Illum.
                li.nav__item
                    a.nav__link(href="#") Odio.
                li.nav__item
                    a.nav__link(href="#") Nulla.
                    ul.nav__sublist
                        li.nav__subitem
                            a.nav__link(href="#") Lorem.
                        li.nav__subitem
                            a.nav__link(href="#") Deleniti.
                        li.nav__subitem
                            a.nav__link(href="#") Ab.
                li.nav__item
                    a.nav__link(href="#") Lorem.
                li.nav__item
                    a.nav__link(href="#") Deleniti.
                li.nav__item
                    a.nav__link(href="#") Ab.