<header class="header">
	<div class="header__container">
		<div class="header__logo logo">
			<a href="javascript:void(0)" class="logo__link">
				<img src="./img/logo.png" alt="" class="logo__img">
			</a>
		</div>
		<nav class="nav">
			<div class="nav__social social">
				<ul class="social__list">
					<li class="social__item">
						<a href="http://" class="social__link">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="social__item">
						<a href="http://" class="social__link">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="social__item">
						<a href="http://" class="social__link">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="social__item">
						<a href="http://" class="social__link">
							<i class="fab fa-linkedin"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="nav__menu">
				<a href="#" class="nav__burger">
					<i class="fas fa-bars"></i>
					<span class="nav__text">menu</span>
				</a>
			</div>
		</nav>
	</div>
</header>
<div class="nav-bar">
	<div class="nav-bar__wrapper">
		<ul class="nav-bar__list">
			<li class="nav-bar__item">
				<div class="nav-bar__social social">
					<ul class="social__list">
						<li class="social__item">
							<a href="http://" class="social__link">
								<i class="fab"></i>
							</a>
						</li>
						<li class="social__item">
							<a href="http://" class="social__link">
								<i class="fab"></i>
							</a>
						</li>
						<li class="social__item">
							<a href="http://" class="social__link">
								<i class="fab"></i>
							</a>
						</li>
						<li class="social__item">
							<a href="http://" class="social__link">
								<i class="fab"></i>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-bar__item">
				<a href="javascript:void(0)" class="nav-bar__link">HOME</a>
			</li>
			<li class="nav-bar__item">
				<a href="javascript:void(0)" class="nav-bar__link">about</a>
			</li>
		</ul>
	</div>
</div>