extends ./layout.pug
block title
    title new title
block main
    main
        .container
            br
            br
            br
            button.btn Lorem, ipsum.

        p(contenteditable="true") Lorem, ipsum.`

        marquee(behavior="", direction="down")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dicta necessitatibus minima ex mollitia unde facilis dolore hic quia provident illo error, iusto magni. Sit, voluptatem perferendis! Sunt, totam fugit debitis harum, voluptatibus ex nostrum magnam sint, quis iste necessitatibus inventore tempore sequi hic officia quod dolor. Explicabo, eveniet itaque.
            p Dicta aspernatur illum blanditiis libero recusandae sint hic velit ad facilis nesciunt vitae voluptatem, fuga ipsum, labore, omnis sequi ab maiores explicabo fugit architecto doloribus ipsa nulla! Exercitationem ipsa magnam doloribus excepturi quis neque delectus consectetur nemo sint obcaecati possimus perferendis expedita, illo consequuntur pariatur provident debitis, ut eos explicabo?
            p Et hic esse tenetur reiciendis facere soluta amet culpa officia saepe, rerum fuga accusamus ad est sequi iusto. Reiciendis, dolorum vero! Repudiandae ea illo fugit molestias eveniet molestiae. Perspiciatis ratione consequuntur, ipsum fugit aspernatur modi, sit illum ad provident in iure dignissimos rerum itaque sapiente tempore. Quia asperiores vero nihil?
            p Dolores atque, similique praesentium corporis repellendus tempore, ipsam omnis dolorem sunt debitis earum? Voluptatum amet unde iusto molestias ut totam magni aperiam odit odio quia error veniam natus, eum ex iure dolorum numquam placeat quasi delectus. Quam in ipsum tempore. Aut, ea doloremque? Debitis corrupti, officia tempora nemo ea sint.
            p Quaerat saepe sequi porro ab laborum pariatur officiis sint nemo, nam voluptatibus omnis harum aperiam veritatis iste magni possimus odio dolorem, sapiente repellendus corporis, laboriosam labore provident temporibus assumenda. Facere esse provident eum nesciunt quia, obcaecati quam, repellat, facilis debitis iure minus sit. Maiores dolore dolorum eos quod alias tempora.

        .form-field
            input(type="text")
            label exnter text
                span |