extends ./layout.pug
block title
    title new title
block main
    main
        .bg
        .sec-wrap
            .sec
                .container
                    h1 Lorem, ipsum dolor.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium iusto placeat voluptas mollitia labore id nobis quasi totam, officia libero reiciendis quidem veniam saepe quos nam nihil similique sit modi eos earum. Qui quis hic asperiores accusantium, laboriosam aspernatur deleniti pariatur earum vitae. Consequuntur, fugiat error velit omnis ducimus eveniet?